{% extends "base.html" %}

{% block title %}
    <title>Update Comment</title>
{% endblock title %}

{% block content %}
    <h1>Update Comment:</h1>
    <hr class="border border-danger border-2 opacity-50">
    <div class="container col-xl-10 col-xxl-8 px-4 py-5">
        <form method="post" class="p-5 p-md-5 border rounded-3 bg-body-tertiary">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="w-100 btn btn-lg btn-primary" type="submit">Оновити</button>
        </form>
        <hr class="border border-primary border-3 opacity-75">
    </div>
{% endblock content %}