{% extends "base.html" %}

{% block title %}
    <title>Tasks</title>
{% endblock title %}

{% block content %}
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Task Tracking</h1>
            <p class="fw-light fs-5">
                Обирайте задачі за статусом та пріоритетом, опираючись на дедлайни, щоб встигнути зробити потрібні задачі.<br>Пишіть коментарі до задач чи створюйте свої, за потребою прикріплюючи до них файли або зображення.
            </p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-xl-5 col-xxl-5 px-3 py-2">
            <form method="GET" class="p-1 p-md-3 border rounded-3 bg-body-tetriary">
                {{ filter_form.as_p }}
                <button class="btn btn-primary" type="submit">пошук</button>
            </form>
        </div>
    </div>
    <br><br>
    <div class="row">
        <h1>Tasks</h1>
        <hr class="border border-primary border-3 opacity-75">
        <div class="container">
            <div class="row row-cols-4">
                {% for task in tasks %}
                    <div class="col">
                        <a href="{% url 'task-detail' task.pk %}" style="text-decoration: none;">
                            <div class="g-col-4 card border-dark {% if task.priority == '_low' %}text-bg-success{% elif task.priority == '_mid' %}text-bg-warning{% else %}text-bg-danger{% endif %}" style="width: 18rem;">
                                <div class="card-body">
                                    <div class="card-title fs-4 fw-bold text-bg-dark rounded-5">
                                        {{task.name}}
                                    </div>

                                    <h5 class="card-subtitle mb-2 fw-light">
                                        {{task.deadline}}<br><br>
                                        status: {{task.get_status_display}}<br>
                                        priority: {{task.get_priority_display}}
                                    </h5>

                                    <div class="card-text fs-5">
                                        {{ task.description }}
                                    </div>
                                </div>
                            </div>
                            <br>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
        <hr class="border border-primary border-3 opacity-75">
        <a class="btn btn-secondary" href="{% url 'task-create' %}">Create New Task</a>
    </div>
{% endblock content %}
